@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
// Variables
$font-family-base: "Montserrat", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-Largebold: 700;
$font-line-height: 146%;
// Couleurs
$color-background-arrow: rgba(0, 0, 0, 0.5);
$color-text: white;
$primary-color: #ff6060;
$color-background: #f6f6f6;
$color-star-full: #e3e3e3;
$color-footer: black;

//Dimension
$body-max-width: 1440px;
$desktop-screen-width: 80%;
$tablet-screen-width: 87%;
$mobile-screen-width: 95%;

/* Styles globaux */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: $font-family-base;
	margin: 0 auto;
	padding: 0;
}
li,
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
