header {
	@include flex-container(center, space-between, null);
	max-width: $body-max-width + 40px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	margin: 0 auto;
	padding: 20px;
	background-color: $light-color;

	nav {
		display: flex;
		gap: 60px;
		font-size: 24px;
	}
	.nav-active {
		text-decoration: underline;
	}
}
main {
	max-width: $body-max-width + 40px;
	margin: 112px auto 0 auto;
	padding: 0 20px;
}
footer {
	@include flex-container(center, center, column);
	gap: 30px;
	background: $dark-color;
	color: $light-color;
	height: 209px;
	font-size: 24px;
}
.collapse_Item,
.collapse_Item_Open {
	@include flex-container(center, space-between, null);
	height: fit-content;
	border-radius: $spacing-unit;
	cursor: pointer;
	background-color: $primary-color;
	overflow: hidden;
	transition: height 0.3s ease;
	color: $light-color;
	h3 {
		padding: 10px;
		font-size: 24px;
	}
	.arrow_ {
		padding-left: 10px;
		transform: rotate(180deg);
		@include transition(transform);
	}
}

.collapse_Item_Open {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: end;
	.arrow_rotate {
		padding-right: 10px;
		transform: rotate(0deg);
		@include transition(transform);
	}
}
.content {
	padding: 10px;
	grid-column: 1 / span 2;
	background-color: $gray-color;
	color: $dark-color;
	font-size: 18px;
	width: 100%;
	height: -webkit-fill-available;
	ul > li {
		padding-bottom: 5px;
	}
}
