// Font
$font-family-base: "Montserrat", sans-serif;
// Couleurs
$color-background-arrow: rgba(0, 0, 0, 0.5);
$primary-color: #ff6060;
$gray-color: #f6f6f6;
$dark-color: black;
$light-color: white;
$box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
$spacing-unit: 5px;
//Dimension
$body-max-width: 1440px;
