.error-container {
	@include flex-container(center, null, column);
	gap: 139px;
	color: $primary-color;
	padding: 50px 20px;

	h1 {
		font-size: 288px;
	}

	p {
		font-size: 36px;
		text-align: center;
	}

	a {
		font-size: 1rem;
		color: $dark-color;
		text-decoration-line: underline;
	}
}
