.slider {
	position: relative;
	margin-bottom: 15px;
	.slider-image {
		object-fit: cover;
		width: 100%;
		border-radius: $spacing-unit * 5;
		height: 415px;
	}
	._Prev,
	._Next {
		height: 80px;
		position: absolute;
		top: 50%;
		padding: 10px;
		cursor: pointer;
	}

	._Prev {
		left: 0;
		transform: translateY(-50%) rotate(270deg);
	}

	._Next {
		right: 0;
		transform: translateY(-50%) rotate(90deg);
	}
}
.logement-header {
	gap: 5px;
	@include flex-container(null, space-between, column);
	h1 {
		color: $primary-color;
		font-size: 36px;
		font-weight: 500;
	}
	p {
		font-size: 18px;
		font-weight: 500;
	}
}
.logement-details {
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
	.tags {
		@include flex-container(center, null, null);
		gap: 10px;
		height: 25px;
		li {
			border-radius: $spacing-unit * 2;
			background: $primary-color;
			min-width: 115px;
			padding: 0 10px;
			color: $light-color;
			text-align: center;
			font-size: 14px;
			font-weight: 700;
		}
	}
	.host-details {
		@include flex-container(center, null, row-reverse);
		gap: 10px;
		img {
			border-radius: $spacing-unit * 10;
			width: 64px;
			height: 64px;
		}
		p {
			color: $primary-color;
			text-align: right;
			font-size: 18px;
			font-weight: 500;
			width: min-content;
		}
	}
}
.logement-details-host {
	display: grid;
	justify-self: end;
	width: 160px;
	gap: 15px;
}

.logement-details-content {
	grid-column: 1 / span 2;
	gap: 20px;
	display: flex;
	justify-content: space-between;
	.collapse_Item,
	.collapse_Item_Open {
		width: 48%;
		min-width: 280px;
	}
}
.ratingsCard {
	display: flex;
	gap: 6px;
	justify-content: space-between;
}
.pagination {
	position: absolute;
	top: 92%;
	right: 50%;
	cursor: pointer;
	color: #fff;
	font-size: 25px;
	font-weight: 500;
}
